.rating {
    /*float: left;*/
}

span {
    font-size: 16px;
    color: black;
}

.rating {
    unicode-bidi: bidi-override;
    direction: ltr;
}

    .rating > span:hover:before,
    .rating > span:hover ~ span:before {
        content: "\2605";
        position: absolute;
    }
